:root {
  --maincolor: rgb(54, 69, 79);
  --secondarycolor: rgb(255, 170, 76);
  --thirdcolor: rgb(51, 204, 255);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  min-height: 100vh;
  position: relative;
}

html {
  overflow-x: hidden;
}

body {
  background-color: var(--maincolor);
  position: relative;
  z-index: 1;
}

header {
  background-color: var(--secondarycolor);
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100vw;
  border: 1px solid black;
  height: 10vh;
  opacity: 0.8;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  padding-right: 1rem;
}

.nav_list {
  list-style: none;
  padding: 0px 1rem;
}

#logo_container {
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 50px;
  height: 50px;
}

#logo_name {
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 2px 2px yellow;
}

#navbar_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.nav_list {
  list-style: none;
}

.nav_links {
  text-decoration: none;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  text-shadow: 2px 2px yellow;
}

.nav_links:hover {
  color: white;
  text-shadow: 2px 2px black;
}

/* burger navbar */
.hamburger {
  background-color: transparent;
  border: 0;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

.hamburger:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  #navbar {
    display: none;
    height: 20vh;
    width: 100vw;
  }

  .hamburger {
    margin-right: 2rem;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 30%;
    left: 90%;
  }

  #navbar.show {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    background-color: var(--secondarycolor);
  }
}

@media screen and (min-width: 767px) {
  .hamburger {
    display: none;
  }
}

/* Modal */
.modal_container {
  position: fixed;
  width: 100%;
  height: auto;
}

.modal_content {
  display: none;
  width: 70%;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(235, 100, 27, 0.7);
}

.modal_header {
  background-color: black;
  margin: 0.5rem auto;
}

.modal_header p {
  color: white;
  padding: 5px;
  font-size: 1.4rem;
}

.description {
  font-size: 1.3rem;
  padding: 10px 0;
}

.exit_btn {
  float: right;
  font-size: 1.3rem;
  font-weight: 700;
}

.exit_btn:hover {
  color: white;
  cursor: pointer;
}

.title {
  margin-top: 1.7rem;
}

@media screen and (min-width: 1000px) {
  .modal_content {
    width: 50%;
  }
}

/* info section */
main {
  overflow: hidden;
}

#info_container {
  display: flex;
  height: 25vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#info_container p {
  color: black;
}

#main_logo_container {
  display: flex;
  height: 15vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#main_logo_container,
#info {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

#main_logo {
  width: 100px;
  height: 100px;
}

#main_logo_name {
  font-size: 1.3rem;
  font-weight: 700;
  text-shadow: 2px 2px yellow;
}

#info {
  margin-bottom: 1rem;
}

@media screen and (max-width: 484px) {
  #info_container {
    height: 35vh;
  }

  #info p {
    padding-bottom: 1.5rem;
  }
}

@media screen and (min-width: 485px) and (max-width: 767px) {
  #info_container {
    height: 27vh;
  }

  #info {
    margin: 1rem auto;
  }
}

@media screen and (min-width: 729px) {
  #info_container {
    height: 25vh;
  }

  #info {
    width: 50%;
  }
}

/* movies section */
.trending_container {
  margin: 2rem auto;
}

.trending {
  width: 100vw;
  height: 3vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.trending p {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--secondarycolor);
}

.more_link {
  color: var(--secondarycolor);
}

.trending_list_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100vw;
  height: 100%;
  padding-right: 1rem;
  padding-bottom: 2rem;
}

.trending_list {
  border: 1px solid var(--secondarycolor);
  margin: 2.5rem 1rem;
}

.trending_image {
  width: 100%;
  height: 100%;
}

.trending_info {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--secondarycolor);
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.trending_info p {
  font-size: 1.1rem;
  font-size: 600;
  text-shadow: 2px 2px yellow;
  padding: 2px 0px;
}

@media screen and (min-width: 768px) {
  .trending_list_container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* footer */
footer {
  background-color: var(--secondarycolor);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer_logo {
  width: 30px;
  height: 25px;
}

@media screen and (max-width: 425px) {
  footer {
    height: 10vh;
    flex-direction: column-reverse;
    justify-content: space-around;
  }
}

@media screen and (min-width: 625px) {
  footer {
    justify-content: space-around;
  }
}
