html,
body {
  min-height: 100vh;
  position: relative;
}

#search_container {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;
}

#search {
  border: 1px solid white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  width: fit-content;
  overflow: hidden;
}

#input {
  width: 60vw;
  height: 5.5vh;
  outline: none;
  border: none;
  padding-left: 0.3rem;
}

#search_logo {
  width: 2rem;
  height: 5.5vh;
  background-color: white;
  padding-right: 0.3rem;
}

#genre_container {
  width: 70vw;
  height: 15vh;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.genre_button {
  width: 14vw;
  height: 3vh;
  margin: 0.3rem 0.1rem;
  border-radius: 1rem;
  outline: none;
  background-color: var(--secondarycolor);
  text-shadow: 2px 2px yellow;
  font-size: 1.1rem;
}

@media screen and (max-width: 484px) {
  .genre_button {
    width: 18vw;
    height: 4vh;
  }
}

@media screen and (min-width: 729px) {
  #genre_container {
    width: 50vw;
  }
  .genre_button {
    width: 10vw;
  }

  #input {
    width: 60vw;
  }
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
